mixin InformBox(config)
  .inform-box
    .container
      .inform-box__inner
        .inform-box__title(data-aos="fade-right")!= config.title
        .inform-box__box
          if config.lists.titles
            .inform-box__box-titles
              each title, index in config.lists.titles
                .inform-box__box-title(data-aos="fade-right" data-aos-delay=`${(index+1) * 50}`)!= title
          if config.lists.images
            .inform-box__box-images
              each image, index in config.lists.images
                .inform-box__box-image(data-aos="fade-right" data-aos-delay=`${(index+1) * 50}`)
                  img.inform-box__box-image-i(src=image alt="arrow right")
          if config.lists.texts
            .inform-box__box-texts
              each text, index in config.lists.texts
                .inform-box__box-text(data-aos="fade-right" data-aos-delay=`${(index+1) * 50}`)!= text
        .inform-box__wrap
          each item, index in config.items
            .inform-box__wrap-item(data-aos="fade-up" data-aos-delay=`${(index+1) * 150}`)
              .inform-box__wrap-item-image
                img.inform-box__wrap-item-image-i(src=item.image.src alt=item.image.alt)
              .inform-box__wrap-item-title!= item.title
