include ../mixins/Footer
include ../mixins/Header

//- Global Variables
block variables
  - var CWD = '';
  - var attrsHtml = { lang: 'uk', dir: dir || 'ltr' };
  - var title = 'sit down';
  - var attrsBody = {};
  - var attrsMain = {};
  - var attrsLayout = {};
  - var APIGmap = '';


doctype html
html()&attributes(attrsHtml)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title=title

    link(rel="apple-touch-icon" sizes="180x180", href=`${CWD}assets/img/favicons/apple-touch-icon.png`)
    link(rel="shortcut icon" type="image/png" href=`${CWD}assets/img/favicons/favicon.png`)
    link(rel="manifest" href=`${CWD}assets/img/favicons/manifest.json`)
    meta(name='msapplication-TileImage' content=`${CWD}assets/img/favicons/mstile-150x150.png`)
    meta(name="theme-color" content="#D3DEFD")

    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap' rel='stylesheet')
    link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css")
    link(href=`${CWD}assets/css/styles.min.css`, type="text/css" rel='stylesheet' id="style-default")

  body()&attributes(attrsBody)

    block beforeMainContent

    +Header

    main.main()&attributes(attrsMain)
      block mainContent
    
    +Footer

    block afterMainContent

    block layoutScripts

    block scripts
      script(src="https://unpkg.com/aos@next/dist/aos.js")
      script(src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js")
      script(src="https://unpkg.com/headroom.js")
      script(src=`${CWD}assets/js/main.js`)

    block footerStyles
